body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: auto;
    margin: 0 auto;
    background-color: bisque;
}

.fotoCasal {
    margin: auto;
    margin-top: 40px;
    width: 330px;
    height: 330px;
    background-color: white;
    border-radius: 15px;
}

.divisoria {
  width: 320px;
  height: 1.4px;
  background-color: gray;
  margin: 30px;
  border-radius: 20px;
}

.textinho h1{
    font-family: "Quicksand", sans-serif;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
}

.textinho p{
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    text-align: center;
}

.musica {
}
